.wrapper{
    width: 100%;
    height: max(100%,812px);
    position: relative;
    white-space: pre-line;
    background: linear-gradient(218.18deg, #FFFFFF 22.01%, rgba(255, 255, 255, 0) 74.56%), #FFFFFF;
    transition: opacity 2s;
    display: flex;
    flex-direction: column;
}


.header_wrapper{
    z-index: 20;
    width: 100%;
    border-bottom: 2px solid #2E3237;
    height: 270px;
    display: flex;
    align-items: flex-end;
}

.header{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    /* identical to box height, or 100% */


    color: #2E3237;

    margin-left: 4.236vw;
    margin-top: 70px;
    margin-bottom: 20px;
}


.author_img_wrapper{
    position: absolute;
    width: calc(100% - 7.44vmin);
    height: 100%;
    right: 0vw;
    top: 0vw;
    z-index: 10;

}
.author_img_wrapper svg{
    width: 100%;
    height: 100%;
}

.card_init{
    font-size: 22px;
    line-height: 27px;
    width: 37%;
    height: calc(100% - 270px);
    background: #E6CC9C;
    z-index: 50;
}

.card{
    width: 38%;
    z-index: 50;
    background: #E6CC9C;
    height: 542px;

    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 18px;
    line-height: 26px;
}
@media screen and (max-width: 1199px) {
    .card{
        height: 384px;
    }
}

.proj_header{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 4.44vmin;
    line-height: 4.44vmin;
    /* or 100% */

    letter-spacing: -0.01em;

    color: #2E3237;
    margin-left: 61px;
    margin-top: 80px;

}

.proj_body{
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    /* or 123% */
    color: #2E3237;
    padding: 30px 40px 32px 60px;
    font-size: 18px;
    line-height: 26px;
}
.proj_body.init_body{
     padding: 80px 40px 32px 60px;
    font-size: 24px;
    line-height: 30px;
 }

.cross_button{
    display: flex;
    justify-content: flex-end;
    /*padding: 16px 16px 0 0 ;*/
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom:10px;
}


@media (min-width: 1441px){
    .card, .card_init{
        font-size: 1.53vw;
        line-height: 1.88vw;
    }
}

@media (max-width: 1252px){
    .card_init{
        width: 50%;
    }
    .card{
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .card_init{
        font-size: 22px;
        line-height: 30px;
    }
    .card{
        font-size: 20px;
        line-height: 28px;
    }
    .header_wrapper{
        z-index: 20;
        width: 100%;
        height: 160px;
        border-bottom: 2px solid #2E3237;
    }

    .header{
        width: 85.844vw;
        height: 8.442vw;


        font-size: 8.442vw;
        line-height: 8.442vw;
        color: #2E3237;
        white-space: normal;
        margin-left: 1.429vw;
    }


    .author_img_wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0vw;
        z-index: 10;
    }
    .author_img_wrapper svg{

        width: 100%;
        height: 100%;
    }



    .card{
        width: 100%;
    }


    .proj_header{
        width: 90.519vw;
        height: 40px;

        /* SSS_H3_ipad */

        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        /* or 100% */
        letter-spacing: initial;

        color: #2E3237;

        margin-left: 2.208vw;
        margin-right: auto;
        margin-top: 30px;
        white-space: initial;
    }
    .proj_body{
        width: 95.584vw;
        /* or 123% */

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4.935vw;
        margin-top: 20px;
        padding: 0;
    }
    .init_body{
        margin-top: 3.896vw;
    }

}

@media screen and (max-width: 1199px) {
    .card_init{
        width: 100%;
        height: 384px;
    }
    .wrapper{
        justify-content: space-between;
    }
}
@media (max-width: 768px) {

    .author_img_wrapper{
        top: 0vw;
        transform: scale(1);
    }
    .card_init{
        font-size: 20px;
        line-height: 28px;
    }
    .card{
        font-size: 20px;
        line-height: 28px;
    }
    .header_wrapper{
        z-index: 20;
        width: 100%;
        height: 160px;
        border-bottom: 2px solid #2E3237;
    }

    .cross_button{
        width: 24px;
        height: 24px;
        right: 16px;
        top:30px;
    }
    .proj_body.init_body{
        padding: 0;
        font-size: 20px;
        line-height: 28px;
    }
    .proj_body{
        padding: 0;
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-height: 668px) {
    .card, .card_init{
        height: auto;
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-height: 569px) {
    .card, .card_init{
        height: auto;
        font-size: 10px;
    }
}
@media (max-width: 500px) and (orientation:portrait) {
    .header_wrapper{
        z-index: 20;
        width: 100%;
        height: 70px;
        border-bottom: 2px solid #2E3237;
    }

    .header{
        width: auto;
        height: auto;

        font-size: 30px;
        line-height: 36px;

        margin-left: 16px;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }


    .author_img_wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0vw;
        top: 0vw;
        z-index: 10;

    }
    .author_img_wrapper svg{

        width: 100%;
        height: 100%;
    }
    .card, .card_init{
        height: 374px;
    }
    .card_init{
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .card{
        font-size: 16px;
        line-height: 20px;
        width: 100%;
    }


    .proj_header{
        width: 92.703vw;
        height: auto;

        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        letter-spacing: initial;

        color: #2E3237;

        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        white-space: initial;
    }
    .proj_body.init_body{
        padding: 0;
        font-size: 16px;
        line-height: 20px;
    }
    .proj_body{
        width: calc(100% - 32px);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        white-space: initial;
        font-size: 16px;
        line-height: 20px;
    }

    .init_body{
        margin-top: 8.108vw;
        white-space: pre-line;
    }
    .cross_button{
        width: 17px;
        height: 16.5px;
        right: 16px;
        top: 10px;
    }




}


@media (max-height: 500px) and (orientation:landscape) {
    .wrapper{
        width: 100%;
        height: 500px;

    }
    .cross_button{
        width: 24px;
        height: 24px;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}





@media (max-width: 360px) {
    .card_init, .card{
        height: auto;
    }
}
