.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    white-space: pre-line;

}


.text_wrapper{
    position: absolute;
    top:144px;
    left: 0;
    z-index: 20;
    width: 700px;
    height: 210px;
    border-bottom: 2px solid #FFFFFF;;

}

.author_header{
    width: 600px;
    height: 180px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    color: #FFFFFF;
    margin-left: 61px;
    margin-bottom: auto;

}

.navigation{
    position: absolute;
    width: 130px;
    height: 50px;
    left: 1250px;
    top: 487px;
    display: flex;
    z-index: 50;
}
.button_right{
    width: 50px;
    height: 50px;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button_right:hover{
    background: #C08718;
    cursor: pointer;

}
.button_left:hover{
    background: #C08718;
    cursor: pointer;

}
.button_left{
    width: 50px;
    height: 50px;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pagination_wrapper{
    width: 978px;
    position: absolute;
    display: flex;
    top: 414px;
    left: 60px;
}
.round{
    width: 20px;
    height: 20px;
    background: #C08718;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}
.round_active{
    width: 50px;
    height: 50px;
    background: #C08718;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}
.stick{
    width: 8px;
    height: 202px;
    background: #C08718;
    position: absolute;
    top: 26px;
    left: 21px;
}
.date{
    position: absolute;
    width: 129px;
    height: 30px;
    left: 0px;
    bottom: 0px;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */


    color: #FFFFFF;
}
.active_date{
    /*width: 299px;*/
    height: 180px;
    margin-left: 40px;
    margin-top: 70px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    /* or 100% */
    color: #FFFFFF;
    white-space: pre-line;
}
.date_wrapper{
    width: 129px;
    height: 70px;
    position: relative;
    margin-right: 40px;
    align-self: flex-end;

}
.active_date_wrapper{
    height: 228px;
    position: relative;
    align-self: flex-end;
    width: 521px;


}

.text{
    position: absolute;
    left: 262px;
    top: 73px;
    width: 287px;
    height: 60px;


    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */


    color: #FFFFFF;

}

.author_img_wrapper{
    position: absolute;
    width: 48.61111%;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 10;

}
.author_img_wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.link_button_wrapper{
    margin-top: 40px;
}


@media (max-width: 768px) {
    .text_wrapper{
        top:165px;
        left: 0;
        width: 100%;
        height: 160px;
    }

    .author_header{
        width: 600px;
        height: 180px;
        font-size: 65px;
        line-height: 65px;
        margin-left: 16px;
        margin-bottom: auto;
    }

    .navigation{

        left: initial;
        top: 415px;
        right: 17px;
        z-index: 200;
        width: 178px;
    }

    .pagination_wrapper{
        width: calc(100% - 16px);
        position: absolute;
        display: flex;
        top: 414px;
        left: 16px;
        z-index: 100;
    }
    .round{
        width: 20px;
        height: 20px;
        background: #C08718;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }
    .round_active{
        width: 50px;
        height: 50px;
        background: #C08718;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }
    .stick{
        width: 8px;
        height: 202px;
        background: #C08718;
        position: absolute;
        top: 26px;
        left: 21px;
    }
    .date{
        position: absolute;
        width: 89px;
        height: 24px;
        left: 0px;
        bottom: 0px;

        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .active_date{
        /*width: 299px;*/
        height: 180px;
        margin-left: 40px;
        margin-top: 114px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 65px;
        color: #FFFFFF;
    }
    .date_wrapper{
        width: 89px;
        height: 64px;
        position: relative;
        margin-right: 40px;
        align-self: flex-end;

    }
    .active_date_wrapper{
        height: 228px;
        position: relative;
        align-self: flex-end;
        width: 521px;
    }

    .text{
        position: absolute;
        left: 180px;
        top: 112px;
        width: 188px;
        height: 40px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        color: #FFFFFF;
    }

    .author_img_wrapper{
        position: absolute;
        width: 100%;
        height: 334px;
        right: 0px;
        top: initial;
        bottom: 0px;
        z-index: 10;

    }
    .author_img_wrapper img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .link_button_wrapper{
        margin-top: 40px;
    }

}

@media (max-width: 500px) and (orientation:portrait) {
    .text_wrapper{
        position: absolute;
        top:114px;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 80px;
        border-bottom: 2px solid #FFFFFF;;

    }

    .author_header{
        width: 343px;
        height: 60px;
        left: 16px;
        top: 114px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #FFFFFF;

        margin-left: 16px;
        margin-bottom: auto;

    }

    .navigation{
        position: absolute;
        width: 130px;
        height: 50px;
        left: 229px;
        top: 208px;
        display: flex;
        z-index: 100;
    }

    .pagination_wrapper{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 224px;
        left: 0px;
        z-index: 50;

    }
    .round{
        width: 10px;
        height: 10px;
        background: #C08718;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }
    .round_active{
        width: 23px;
        height: 23px;
        background: #C08718;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }
    .stick{
        width: 4px;
        height: 88px;
        background: #C08718;
        position: absolute;
        top: 18px;
        left: 10px;
    }
    .date{
        left: 0px;
        bottom: 0px;
        position: absolute;
        width: 90px;
        height: 24px;

        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */


        color: #FFFFFF;
    }
    .active_date{
        width: 118px;
        height: 30px;

        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        /* identical to box height, or 100% */


        color: #FFFFFF;
        white-space: pre-line;
        margin-left: 23px;
        margin-top: 53px;
    }
    .date_wrapper{
        width: 90px;
        height: 44px;
        position: relative;
        margin-right: 40px;
        align-self: flex-end;

    }
    .active_date_wrapper{
        width: 171px;
        height: 124px;
        position: relative;
        align-self: flex-end;



    }

    .text{
        position: absolute;
        left: 23px;
        top: 88px;
        width: 148px;
        height: 36px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */


        color: #FFFFFF;

    }



}
@media (max-height: 500px) and (orientation:landscape) {
    .text_wrapper{
        top:165px;
        left: 0;
        width: 100%;
        height: 160px;
    }

    .author_header{
        width: 600px;
        height: 180px;
        font-size: 65px;
        line-height: 65px;
        margin-left: 16px;
        margin-bottom: auto;
    }

    .navigation{

        left: initial;
        top: 415px;
        right: 17px;
        z-index: 200;
        width: 178px;
    }

    .pagination_wrapper{
        width: 100%;
        position: absolute;
        display: flex;
        top: 414px;
        left: 16px;
        z-index: 100;
    }
    .round{
        width: 20px;
        height: 20px;
        background: #C08718;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }
    .round_active{
        width: 50px;
        height: 50px;
        background: #C08718;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }
    .stick{
        width: 8px;
        height: 202px;
        background: #C08718;
        position: absolute;
        top: 26px;
        left: 21px;
    }
    .date{
        position: absolute;
        width: 89px;
        height: 24px;
        left: 0px;
        bottom: 0px;

        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .active_date{
        /*width: 299px;*/
        height: 180px;
        margin-left: 40px;
        margin-top: 114px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 65px;
        color: #FFFFFF;
    }
    .date_wrapper{
        width: 89px;
        height: 64px;
        position: relative;
        margin-right: 40px;
        align-self: flex-end;

    }
    .active_date_wrapper{
        height: 228px;
        position: relative;
        align-self: flex-end;
        width: 521px;
    }

    .text{
        position: absolute;
        left: 180px;
        top: 112px;
        width: 188px;
        height: 40px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        color: #FFFFFF;
    }

    .author_img_wrapper{
        position: absolute;
        width: 100%;
        height: 334px;
        right: 0px;
        top: initial;
        bottom: 0px;
        z-index: 10;

    }
    .author_img_wrapper img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .link_button_wrapper{
        margin-top: 40px;
    }


}
