.share_wrapper {
    width: 48px;
    background: rgba(196, 196, 196, 0.4);
    mix-blend-mode: normal;
    position: fixed;
    right: 0;
    top: 142px;
    z-index: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* padding: 10px 0; */
}

.share_open {
    height: 373px;

}

.share_wrapper.share_open {
    background: #A8A6A6;
}

.close_button {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
    background-position: center;

}

.close_button:hover {
    filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%)
}

.main_button {
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
    /* filter: invert(99%) sepia(3%) saturate(100%) hue-rotate(290deg) brightness(116%) contrast(100%); */
    filter: invert(99%) sepia(3%) saturate(100%) hue-rotate(290deg) brightness(116%) contrast(100%);

}


.main_button_open {
    width: 36px;
    height: 36px;
    /* margin-top: 26px; */
    filter: invert(99%) sepia(3%) saturate(100%) hue-rotate(290deg) brightness(116%) contrast(100%);

}

.main_button:hover {
    cursor: pointer;

    /* filter:invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%) */
    filter: invert(53%) sepia(66%) saturate(559%) hue-rotate(1deg) brightness(92%) contrast(90%);

}

.main_button_open:hover {
    filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%)
}

.share_button_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 250px;
    margin-top: 37.5px;

    padding-bottom: 20.75px;
}

.button {
    width: 36px;
    height: 36px;
    /* background-size: contain; */

    filter: invert(99%) sepia(3%) saturate(100%) hue-rotate(290deg) brightness(116%) contrast(100%);
}

.button:hover {
    filter: invert(72%) sepia(53%) saturate(6708%) hue-rotate(16deg) brightness(98%) contrast(81%);
}
@media (max-width: 950px) {
    .share_wrapper {
        right: 16px;
    }
}

@media (max-width: 460px) {
    .main_button:hover {

        filter: invert(99%) sepia(3%) saturate(100%) hue-rotate(290deg) brightness(116%) contrast(100%);


    }

    .share_wrapper {
        /* width: 48px; */
        height: 48px;
        /* padding-left: 12px;
        padding-right: 12px; */
        padding-top: 0px;
        padding-bottom: 0px;
        right: 16px;

        background: rgba(196, 196, 196, 0.5);
        mix-blend-mode: normal;
        position: fixed;
        /*left: 90%;*/
        top: unset;
        bottom: 97px;
        z-index: 200;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* filter: unset; */
    }

    .share_wrapper.share_open {
        height: 299px;
        /* bottom: 369px; */

    }

    .share_wrapper.share_open a:nth-child(4) {
        order: 4;
    }


    .main_button {
        width: 23px;
        height: 23px;
        margin: 0px;
        background-size: contain;
    }

    .main_button_open {
        width: 24px;
        height: 24px;
        /* margin-right: 4px; */
        background-size: cover;
        margin-top: 0px;
        order: 10;
    }

    .share_button_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 170px;
        margin-right: 29px;
        margin-left: 32px;
        margin-top: 0px;
    }

    .button {
        width: 23px;
        height: 23px;
        background-size: contain;
    }

    .button:focus {
        filter: invert(53%) sepia(66%) saturate(559%) hue-rotate(1deg) brightness(92%) contrast(90%);

    }

}

@media (max-height: 460px) and (orientation: landscape) {
    .share_wrapper {
        height: 48px;
        right: 55px;
        top: unset;
        bottom: 70px;


    }

    .share_wrapper.share_open {
        flex-direction: row;
        height: 48px;
        width: 299px;

        /* width: fit-content; */
    }

    .main_button_open {
        order: 10;
    }

    .main_button_open,
    .button,
    .main_button {
        width: 24px;
        height: 24px;
        background-size: cover;

    }
}
