.wrapper {
  width: 100%;
  height: max(100%, 900px);
  position: relative;
  white-space: pre-line;
  background-color: #2e3237;
  z-index: 11;
  overflow: hidden;
}

.text_wrapper {
  position: absolute;
  top: 16vmin;
  left: 0;
  z-index: 20;
  width: 720px;
  height: 23.34333vmin;
  border-bottom: 2px solid #ffffff;
}

.author_header {
  width: 66.667vmin;
  height: 20vmin;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: min(90px,10vh);
  line-height: min(90px,10vh);
  color: #ffffff;
  margin-left: 6.778vmin;
  margin-bottom: auto;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 5.556vmin;
  /* top: 54.111vmin; */
  top: 42vmin;

  display: flex;
  z-index: 1001;
}
.button_right {
  cursor: pointer;
  margin-right: 60px;
  width: 5.556vmin;
  height: 5.556vmin;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button_right:hover {
  background: #c08718;
}
.button_left:hover {
  background: #c08718;
}
.button_left {
  cursor: pointer;
  margin-left: 60px;

  width: 5.556vmin;
  height: 5.556vmin;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagination_wrapper {
    padding-right: 50px;
  width: 93%;
  /* width: 91.667vmin; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 42.1111vmin;
  left: 6.667vmin;
  z-index: 1000;
  /* overflow: hidden; */
}

.lists{
  padding: 0;
  margin-left: 45px;
  margin-top: 0;
  width: 649px;
}

.lists:nth-child(1){
  width: auto;
}
.active_date_wrapper:nth-child(2) .lists{
  margin-left: 45px;
}


.active_date_wrapper:nth-child(2) .stick{
  height: min(170px, 11.806vw);

}


.round {
  width: 50px;
  height: 50px;
  background: #c08718;
  position: absolute;
  top: -4vmin;
  left: 0vmin;
  border-radius: 50%;

}
.round_active {
  width: 50px;
  height: 50px;
  background: #c08718;
  position: absolute;
  /*top: 0vmin;*/
  left: 0vmin;
  border-radius: 50%;
  animation-duration: 300ms;
  /* animation-name: round; */
  animation-timing-function: ease-out;
}
@keyframes round {
  from {
    top: 21vmin;
  }

  to {
    top: 0vmin;
  }
}

.stick {
  width: 8px;
  height: min(170px,11.805vw);
  background: #c08718;
  position: absolute;
  top: 44px;
  left: 25px;
  transform: translateX(-50%);
  animation-duration: 300ms;
  animation-name: stick;
  animation-timing-function: ease-out;
}

@keyframes stick {
  from {
    top: 24.889vmin;
    height: 2.444vmin;
  }

  to {
    top: 2.889vmin;
    height: 22.444vmin;
  }
}
.date {
  position: absolute;
  width: 14.333vmin;
  height: 3.333vmin;
  left: 0vmin;
  top: 4vmin;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  color: #c08718;
}
.active_date {
  /*width: 33.222vmin;*/
  /* height: 20vmin; */
  margin-left: 45px;
  margin-top: min(119px,8.2638vw);
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: min(60px, 4.16666vw);
  line-height: min(70px, 4.861111vw);
  /* or 100% */
  color: #ffffff;
  white-space: normal;
  animation-duration: 300ms;
  animation-name: active_date;
  transform: scale(0);
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  color: #c08718;
  margin-bottom: 20px;
}
.active_date_wrapper:nth-child(2) .active_date {
  /*width: 33.222vmin;*/
  /* height: 20vmin; */
  margin-left: 45px;
  margin-top: 50px;
margin-bottom: 20px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: min(60px, 4.16666vw);
  line-height: min(70px, 4.861111vw);
  /* or 100% */
  color: #ffffff;
  white-space: pre-line;
  animation-duration: 300ms;
  animation-name: active_date;
  transform: scale(0);
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  color: #c08718;
}

@keyframes active_date {
  to {
    transform: scale(1);
  }
}
.date_wrapper {
  cursor: pointer;

  width: 34.333vmin;
  height: 1.778vmin;
  position: relative;
  margin-right: 10.444vmin;
  /* align-self: flex-end; */
}
.active_date_wrapper {
  /* height: 35.333vmin; */
  position: relative;
  align-self: flex-end;
  width: 41.25vw;
}
.active_date_wrapper:nth-child(2){
  /* height: 35.333vmin; */
  position: relative;
  align-self: flex-end;
  width: 816px;
}

.text {
  /* position: absolute;
    left: 26.111vmin;
    top: 8.111vmin; */
  /* width: 31.889vmin; */
  /* height: 6.667vmin; */
  margin-top: -10px;
  margin-left: -3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.666666vw;
  line-height: 2.083333vw;
  /* or 125% */

  color: #ffffff;

  animation-duration: 300ms;
  animation-name: text;
  animation-timing-function: ease-out;
}

@keyframes text {
  from {
    /* font-size: 0;
        line-height: 0; */
    transform: scale(0);
  }

  to {
    /* font-size: 2.667vmin;
        line-height: 3.333vmin; */
    transform: scale(1);
  }
}
.author_img_wrapper {
  position: absolute;
  height: 100%;
  right: 0vmin;
  top: 0vmin;
  z-index: 10;
}
.author_img_wrapper svg {
  object-fit: cover;
  width: auto;
  height: 100%;
}
.link_button_wrapper {
  margin-top: 4.444vmin;
}
.lists li{
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* align-content: space-between; */
}
.lists li::before {

  content: "";
  min-width: 20px;
  min-height: 20px;
  height: 20px;
  width: 20px;
  background-color: #c08718;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -17px;
  display: block;
  transform: translateX(-50%);

}
.text li {
  list-style: none;
  position: relative;
  /* margin-left: 22px; */
}

.text li+li{
  margin-top: 20px;
}


.pulsation{

  animation: biography_round 2s cubic-bezier(0.19, 0.71, 0.32, 0.93) infinite  ;
}


.pulsation button{
  /* animation: biography_puls 1s ease-in  infinite ; */
  animation: biography_puls 2s cubic-bezier(0.19, 0.71, 0.32, 0.93) infinite  ;
  background-color: inherit;
  border: none;
  opacity: 0.5;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

@media (min-width: 1440px) {
  .author_img_wrapper svg {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1025px) {
  .pagination_wrapper {
    /* width: 130.667vmin; */
  }
  .stick {
    height: min(160px,10.805vw);
  }
}
@media (min-width: 769px) and (max-width: 1020px) {
  .date_wrapper {
    margin-right: 0;
  }
  .date {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  .text {
    left: 23.111vmin;
  }
  /*.active_date {
    font-size: 50px;
    line-height: 60px;
  }*/
}

/*@media screen and (max-width: 1199px) {
  .pagination_wrapper {
    padding-right: 50px;
    width: 93%;
    !* width: 91.667vmin; *!
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 42.111vmin;
    left: 3.667vmin;
    z-index: 1000;
    !* overflow: hidden; *!
  }
  .active_date {
    !*width: 33.222vmin;*!
    !* height: 20vmin; *!
    margin-left: 4.444vmin;
    margin-top: 9.078vmin;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    !* or 100% *!
    color: #ffffff;
    white-space: pre-line;
    animation-duration: 300ms;
    animation-name: active_date;
    transform: scale(0);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    color: #c08718;
    margin-bottom: 22px;
  }
  .active_date_wrapper:nth-child(2) .active_date {
    !*width: 33.222vmin;*!
    !* height: 20vmin; *!
    margin-left: 4.444vmin;
    margin-top: 7.778vmin;
    margin-bottom: 20px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    !* or 100% *!
    color: #ffffff;
    white-space: pre-line;
    animation-duration: 300ms;
    animation-name: active_date;
    transform: scale(0);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    color: #c08718;
  }
  .text_wrapper {
    position: absolute;
    top: 16vmin;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 23.34333vmin;
    border-bottom: 2px solid #ffffff;
  }
  .active_date_wrapper:nth-child(2){
    !* height: 35.333vmin; *!
    position: relative;
    align-self: flex-end;
    width: 456px;
  }
  .text {
    margin-top: 0px;
    margin-left: -5px;
  }
  .date_wrapper {
    width: 20.558vw;
    height: 8.312vw;
    position: relative;
    margin-right: 5.195vw;
    align-self: flex-end;
  }
  .lists {
    margin-left: 8px;
    margin-top: 22px;
  }
  .text li {
    !* margin-left: 15px; *!
    !* width: 349px; *!
  }
  .lists li::before {
    !* min-width: 20px;
    min-height: 20px; *!
    !* top: 13px;
    left: -41px; *!
  }
  .lists:nth-child(1){
    width: 349px;
  }
  .text {
    font-size: 20px;
    line-height: 28px;
  }
  .author_img_wrapper {
    position: absolute;
    width: 100%;
    height: 43.377vw;
    right: 0vw;
    top: initial;
    bottom: 0vw;
    z-index: 10;
  }

}*/
@media (max-width: 768px) {
  .text_wrapper {
    top: 21.429vw;
    left: 0;
    width: 100%;
    height: 20.779vw;
  }

  .author_header {
    width: 77.922vw;
    height: 23.377vw;
    font-size: 8.442vw;
    line-height: 8.442vw;
    margin-left: 2.078vw;
    margin-bottom: auto;
  }

  .navigation {
    left: initial;
    top: 53.896vw;
    right: 0;
    z-index: 200;
  }

  .pagination_wrapper {
    width: calc(100% - 2.078vw);
    position: absolute;
    display: flex;
    top: 53.766vw;
    left: 10px;
    z-index: 100;
  }
  .round {
    width: 50px;
    height: 50px;
    background: #c08718;
    position: absolute;
    top: 0vw;
    left: 0vw;
    border-radius: 50%;
  }
  .round_active {
    width: 50px;
    height: 50px;
    background: #c08718;
    position: absolute;
    top: 0vw;
    left: 0vw;
    border-radius: 50%;
  }
  .stick {
    width: 8px;
    height: 180px;
    background: #c08718;
    position: absolute;
    top: 44px;
    left: 25px;
    transform: translateX(-50%);
  }
  .date {
    position: absolute;
    width: 24.2135vw;
    height: 7.8125vw;
    left: 0vw;
    bottom: 0vw;
    top:initial;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 3.125vw;
    line-height: 3.906vw;
    color: #c08718;
  }
  .active_date {
    width: 319px;
    height: 120px;
    margin-left: 45px;
    margin-top: 80px;
    font-size: 50px;
    line-height: 60px;
    white-space:pre-line;
    margin-bottom: 20px;
  }
  .date_wrapper {
    /* width: 11.558vw; */
    height: 16.927vw;
    position: relative;
    margin-right: 5.195vw;
    align-self: flex-end;
  }
  .active_date_wrapper {
    height: 38.61vw;
    position: relative;
    align-self: flex-end;
    width: 67.662vw;
  }
  .active_date_wrapper:nth-child(2) .active_date {
    margin-left: 45px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
  }

  .text {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* or 125% */
    color: #ffffff;
    margin-left: 15px;
    margin-top: 0px;
  }
  .author_img_wrapper svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .link_button_wrapper {
    margin-top: 5.195vw;
  }
  .button_right {
    width: 6.494vw;
    height: 6.494vw;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .button_right:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .button_left:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .button_left {
    width: 6.494vw;
    height: 6.494vw;
    margin-right: auto;
    margin-left: 16px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  .active_date_wrapper:nth-child(2) .stick{
    height: 180px;
  }
  .lists {
    margin-left: 30px;
    margin-top: 0px;
  }
  .text li {
    margin-left: 0px;
  }


  .lists li::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: -30px;
    min-width: 20px;
    min-height: 20px;
    margin: 0px;
    transform: initial;
  }

  .lists:nth-child(2){
    width: 319px;
  }

  .active_date_wrapper:nth-child(2) .lists{
    margin-left: 30px;
  }

  .text {
    font-size: 20px;
    line-height: 28px;
  }
  .author_img_wrapper {
    position: absolute;
    width: 100%;
    height: 43.377vw;
    right: 0vw;
    top: initial;
    bottom: 0vw;
    z-index: 10;
  }
  .author_img_wrapper img{
    height: 100%;
  }
  .text li+li{
    margin-top: 10px;
  }
}
@media (max-width: 419px) and (orientation: portrait) {
  .wrapper {

    height: max(100%, 812px);

  }
  .text_wrapper {
    position: absolute;
    top: 133px;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #ffffff;
  }

  .author_header {
    width: 92.703vw;
    height: 16.216vw;
    margin-top: 20px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 8.108vw;
    line-height: 8.108vw;
    color: #ffffff;

    margin-left: 4.324vw;
    margin-bottom: auto;
  }

  .navigation {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 16px;
    top: 247px;
    display: flex;
    z-index: 100;
  }

  .pagination_wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 278px;
    left: 0vw;
    z-index: 50;
  }

  .round {
    width: 20px;
    height: 20px;
    background: #c08718;
    position: absolute;
    top: 0;
    left: 0vw;
    border-radius: 50%;

    /* animation: 8s infinite cubic-bezier(0.19, 0.71, 0.32, 0.93);
    animation-name: pulsation2;
    animation-delay: 4s; */
  }

/* @keyframes pulsation2 {
    0%
    {
      opacity:1;
      r:25px;

    }
    25%,100%
    {
    opacity:0;
    r:55px;

    }
} */
  .round_active {
    width: 30px;
    height: 30px;
    background: #c08718;
    position: absolute;
    top: 0vw;
    left: 0vw;
    border-radius: 50%;
  }
  .active_date_wrapper .stick {
    width: 4px;
    height: 106px;
    background: #c08718;
    position: absolute;
    top: 4.865vw;
    left: 15px;
    transform: translateX(-50%);
  }
  .date {
    left: 0vw;
    bottom: 0vw;
    position: absolute;
    width: 167px;
    height: 48px;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    color: #c08718;
  }
  .active_date {
    width: 78.892vw;
    height: 8.108vw;
    color: #c08718;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    white-space: pre-line;
    margin-left: 32px;
    margin-top: 10.9333vw;
    margin-bottom: 10px;
  }

  .active_date_wrapper:nth-child(2) .active_date {
    width: 78.892vw;
    height: 8.108vw;
    color: #c08718;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    white-space: pre-line;
    margin-left: 35px;
    margin-top: 14.324vw;
  }
  .date_wrapper {
    width: 24.324vw;
    height: 11.892vw;
    position: relative;
    margin-right: 10.811vw;
    align-self: flex-end;
  }
  .active_date_wrapper {
    width: 46.216vw;
    height: 55.514vw;
    position: relative;
    align-self: flex-end;
  }

  .text {
    /* position: absolute;
        left: 6.216vw;
        top: 31.784vw; */
    width: 40vw;
    height: 9.73vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 150% */

    color: #ffffff;
    margin-left: 0;
  }
  .button_right {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .button_right:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .button_left:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .button_left {
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .author_img_wrapper {
    position: absolute;
    width: 100%;
    height: 43.76vh;
    right: 0vw;
    top: initial;
    bottom: 0vw;
    z-index: 10;
  }
  .text .lists{
    padding: 0;
    margin-left: 0px;
    margin-top: 0;
    width: 319px;
  }
  .active_date_wrapper:nth-child(2) .text .lists{
    margin-left: 0px;
  }
  .active_date_wrapper .stick{
     height: min(90px,24vw);
   }
  .active_date_wrapper:nth-child(2) .stick{
    height: min(110px,29.333vw);
  }
  .text li {
    margin-left: 32px;
  }

  .lists li::before {
    position: absolute;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: -22px;
    margin: 0;
  }

}

/*@media (max-height: 668px) {
  .pagination_wrapper {
    top: 55.541vw;
  }
  .wrapper {
    height: 120%;
  }
}*/
@media (max-height: 500px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    white-space: pre-line;
  }
  .text_wrapper {
    position: absolute;
    top: 28vh;
    left: 0;
    z-index: 20;
    width: 85.611vh;
    height: 17.583vh;
    border-bottom: 2px solid #ffffff;
  }
  .pagination_wrapper {
    width: 108.667vmin;
    position: absolute;
    display: flex;
    top: 50vmin;
    left: 6.667vmin;
  }
}

/* @media (min-width: 1350px) {
    .navigation{
            top: 54vmin
    }
} */




@keyframes biography_round {

        0%
    {

      transform: scale(1);

    }
    25%{
        transform: scale(0.8);
    }

    100%
    {
        transform: scale(1);

    }
}

@keyframes biography_puls {
    0%
    {
      opacity:1;
      transform: scale(0.5);

    }
    25%,100%
    {
    opacity:0;
    transform: scale(3);

    }

}

