.wrapper{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header a{
    color: white;
}
.image{
    transition: 1s;
}
.image:hover{
    transform: scale(1.05);
}
.image_wrapper{
    width: 100%;
    height: 53.763%;
    overflow: hidden;
}
.image_wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.header{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    width: 100%;
    /* margin-top: 20px; */
}
.colorLinkRead:hover{
    color: rgb(165, 165, 4);

    text-decoration:rgb(165, 165, 4);
}
.content{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #FFFFFF;
    width: 100%;
    /* margin-top: 10px; */
}
.date{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */


    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    /* margin-top: 10px; */
}

@media (max-width: 768px) {
    .wrapper{
        width: 79.01vw;
        /* height: 16.69vw; */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;
        margin-right: 0px;
        justify-content: space-between;
    }
    .image_wrapper{
        width: 28.55vw;
        height: 16.69vw;
    }
    .text_wrapper{
        /* width: 45.24vw; */
    }
    .header{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 3.13vw;
        line-height: 3.91vw;
        /* identical to box height, or 125% */

        text-decoration-line: underline;

        color: #FFFFFF;
        width: 100%;
        margin-top: 0px;

    }
    .content{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */


        color: #FFFFFF;
        width: 100%;
        margin-top: 0px;
    }
    .date{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 2.09vw;
        line-height: 3.91vw;
        /* identical to box height, or 187% */


        color: rgba(255, 255, 255, 0.6);
        width: 100%;
        margin-top: 0px;
    }
}
@media (max-width: 500px) and (orientation:portrait) {
    .wrapper{
        width: 255px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        margin-right: 0px;
        justify-content: space-between;
    }
    .image_wrapper{
        width: 255px;
        height: 120px;
    }
    .text_wrapper{
        width: 100%;
    }
    .header{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height, or 125% */

        text-decoration-line: underline;

        color: #FFFFFF;
        width: 100%;
        margin-top: 0px;

    }
    .content{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* or 150% */


        color: #FFFFFF;
        width: 100%;
        /* margin-top: 10px; */
    }
    .date{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 10px;
        /* identical to box height, or 100% */


        color: rgba(255, 255, 255, 0.6);
        width: 100%;
        /* margin-top: 10px; */
    }
}

@media (max-height: 500px) and (orientation:landscape) {
    .wrapper{
            width: 29.3vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        height: auto;
    }
    .image_wrapper{
        width: 100%;
        height: 17vmin;
    }
    .image_wrapper img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .text_wrapper{
        width: 100%;
    }
    .header{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 5vmin;
        line-height: 4vmin;
        text-decoration-line: underline;
        color: #FFFFFF;
        width: 100%;
        margin-top: 10px;

    }
    .content{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 3vmin;
        line-height: 3.9vmin;
        color: #FFFFFF;
        width: 100%;
        margin-top: 5px;
    }
    .date{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 3vmin;
        line-height: 2vmin;
        color: rgba(255, 255, 255, 0.6);
        width: 100%;
        margin-top: 10px;
    }
}


.imgClass {

    overflow: hidden;


}

.imgClass img {

        object-fit: cover;
        transition: transform .5s ease-out;
}

.imgClass:hover img {
    transform: scale(1.2);
}

