.linkUnderline,.link{
    height: fit-content;
    font-family: Open Sans;
    font-size: 14px;
    /* line-height: 20px; */
    display: flex;
    flex-flow: row nowrap;
    width: max-content;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #fff;
    position: relative;
}
.linkUnderline::after,.link::after{
    content:"";
    width: 9px;
    height:  10px;
    margin-left: 5px; 

    display: block;
    filter: invert(100%);
    background-image: url('./Rectangle\ 67.svg');
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    
}
.linkUnderline::after{
    filter: none;
}
.link:active:not(.disabled){
        border: 1px solid #C08718;
        color: #C08718;
        background-color: transparent;
}
.link:active:not(.disabled)::after{
        filter: invert(56%) sepia(41%) saturate(3137%) hue-rotate(13deg) brightness(94%) contrast(81%);
    
}
.link:hover:not(:active):not(.linkUnderline):not(.disabled){
    border: 1px solid #C08718;
    background-color: #C08718;
}
.linkUnderline{
    cursor: pointer;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;

    width: fit-content;
    border: 1px solid transparent;
    color: #2E3237;
    padding: 0;
    font-size: 4.8vmin;
    /* line-height: 5.2vmin; */
}
.linkUnderline::after{
    background-position-y: top;
    /* height: 2.933vmin; */
    align-self: center;
    /* width: 2.933vmin; */
    height: .8rem;
    width: .8rem;
    align-self: flex-start;
}
.linkUnderline::before{
    
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 130%;
    background-color: #2E3237;
}
.linkUnderline:active::after{
    filter: invert(56%) sepia(41%) saturate(3137%) hue-rotate(13deg) brightness(94%) contrast(81%);

}
.linkUnderline:active::before{
    background-color: #C08718;

}
.linkUnderline:active
{
    background-color: transparent;
    border: 1px solid transparent;
}
.linkUnderline:hover{
    filter: invert(56%) sepia(41%) saturate(3137%) hue-rotate(13deg) brightness(94%) contrast(81%);
     
}
.disabled{
    cursor: alias ;
    background: #C2C0C0;
    color: #FFFFFF;

}
@media (min-width: 555px) {


    .linkUnderline,.link {
        /* font-size: 2.864vmin;
        line-height: 3.515vmin; */
    }
    .linkUnderline{
    
        font-size: 3.125vmin;
        /* line-height: 26px; */
    }
    .linkUnderline::after{
        /* height: 1rem;
        width: 1rem; */
        background-size: contain;
    }
}
@media (min-width: 1340px) {
    .linkUnderline{
        font-size: 1.67vw;
    }
.link:active:not(.linkUnderline):not(.disabled){
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: 1px solid #fff;

}
.link:active:not(.linkUnderline):not(.disabled)::after{
    filter: invert(100%);

}

}
