.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    gap: 0px 10px;
    grid-template-columns: repeat(4, 20.8vw);
    grid-template-rows: 86px 8.62vh  min-content;
}

.header {
    grid-row: 2;
    grid-column: 1/-1;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: max(10px, 8vw);
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.wrapper_helper {

    grid-row: 3;
    grid-column: 1/-1;
    display: grid;
    /* 6.16vh */
    grid-template-columns: repeat(4, 20.8vw);
    gap: 1.97vh 2.67vw;
    /* grid-template-rows: 28.69vh  28.69vh  auto; */
    /* grid-template-rows: 1fr 1fr 13.55vh; */
    /* grid-template-rows: auto auto 13.55vh; */
        grid-template-rows: auto auto auto 8.62vh;
}

.wrapperClass {
    grid-column: 1/4;
    /* display: grid;
    grid-template-rows: 1fr 1fr auto; */
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-rows: 14.78vh 1.23vh 1fr; */
    grid-template-rows: calc(120px - ((120px - 14.78vh) * 1)) 1.23vh min-content;
    grid-template-columns: 1fr;
}

.imgClass {
    grid-row: 1;
    grid-column: 1;
    /* grid-column: 1/3;
    grid-row: 1;*/
    object-fit: cover;

    height: 100%;
    width: 100%;
}



.imgClass {

    overflow: hidden;


}

.imgClass img {

    object-fit: cover;
    transition: transform .3s ease-out;
}

.wrapperClass:hover img,
.imgClass:hover img {
    transform: scale3d(1.05, 1.05, 1);
}

.txtClass {
    grid-row: 3;
    grid-column: 1;
    height: 100%;
    color: #FFFFFF;

    width: 100%;
    display: grid;
    gap: 0.32vh 0vh;
    /* grid-template-rows: 1fr auto 1fr; */
    grid-template-rows: min-content min-content min-content;
    /* flex-flow: column nowrap;
    justify-content: space-between; */
    /* height: inherit;
    grid-column: 3/-2;
    grid-row: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    display: none; */
}

.linkButton {
    grid-column: 1/2;
    font-size: max(10px, 1.72vh);
    padding:  1.23vh 2.67vw;
}

.headerClass {
    font-size: max(10px, 2.22vh);
    color: #FFFFFF;
    line-height: normal;
}

.articleClass {
    /* padding-top: 1.23vh; */
    font-size: max(10px, 1.72vh)
}

.articleClass {

    line-height: 1.15;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical; */

}

.dateClass {
    font-size: max(10px, 1.23vh);
    line-height: normal;
    color: rgba(255, 255, 255, 0.6);
    /* place-self: start left ; */
}

@media screen and (min-width:460px) {
    .header {
        font-size: max(10px, 5.86vw);
    }

    .wrapper {
        grid-template-rows: 105px 14.55vh auto;
        grid-template-columns: repeat(6, 11.59vw);
        gap: 0px 5.21vw;

    }

    .wrapper_helper {
        grid-row: 3;
        grid-column: 1/-1;
        grid-template-columns: repeat(6, 11.59vw);
        height: 100%;
        gap: 5.86vh 5.21vw;
        grid-template-rows: 12.5vh 12.5vh 12.5vh auto;
        /* grid-template-rows: 1fr  1fr 1fr  auto; */

    }

    .linkButton {
        grid-column: 3/4;
    }

    .wrapperClass {
        /* display: flex; */
        width: 100%;
        display: grid;
        gap: 0px 5.21vw;
        grid-template-columns: repeat(6, 11.59vw);
        grid-template-rows: 100%;
        height: 100%;

    }

    .imgClass {
        grid-column: 1/3;
        grid-row: 1;
        object-fit: cover;
        /* display: none; */
        height: 100%;
        width: 100%;
    }

    .txtClass {
        height: inherit;
        grid-column: 3/-2;
        grid-row: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        /* display: none; */
    }

    .articleClass {
        line-height: unset;
        font-size: max(10px, 1.56vh);
        padding-top: 0;

    }

    .headerClass {
        font-size: max(10px, 2.34vh);
    }

    .dateClass {
        font-size: max(10px, 1.56vh)
    }

    .linkButton {

        padding: 0.98vh 2.6vw;
        font-size: max(10px, 1.37vh);
    }

}

@media screen and (min-width:812px) {
    .wrapper_helper {
        grid-column: 2/-1;
    }
}


@media screen and (min-width:900px),
(orientation:landscape) {
    .header {
        padding-top: 8.89vh;

        order: 3;
        grid-column: 2/-1;
        font-size: max(10px, 4.17vw);
    }

    .wrapper {
        grid-template-columns: repeat(8, 9.03vw);
        grid-template-rows: 105px 21.11vh auto 25.89vh;

        gap: 0px 2.78vw;

    }

    .wrapper_helper {
        grid-column: 2/-1;
        height: 100%;
        display: grid;
        /* gap: 0; */
        grid-template-columns: repeat(7, 9.03vw);
        gap: 0px 2.78vw;

        grid-template-rows: 22.22vh 2.22vh auto;

    }

    .wrapperClass {
        gap: 0;
        display: grid;
        grid-template-rows: 22.22vh 2.22vh 16.89vh;
        grid-template-columns: 1fr;
        gap: 0px auto;
        /* flex-direction: column; */
    }

    .wrapperClass:nth-child(1) {
        grid-column: 1/3;
    }

    .wrapperClass:nth-child(2) {
        grid-column: 3/5;
    }

    .wrapperClass:nth-child(3) {
        grid-column: 5/7;
    }

    .headerClass {
        font-size: max(10px, 1.67vw)
    }

    .headerClass:hover {
        color: #C08718;
    }

    .articleClass {
        font-size: max(10px, 1.11vw);
        line-height: 1.67vw;

    }

    .imgClass {
        grid-row: 1;

        height: 100%;
        width: 100%;
    }

    .txtClass {
        grid-row: 3;
    }

    .linkButton {
        font-size: max(10px, 0.97vw);
        margin-top: 200px;
        /* width: 100%; */
        grid-column: 7;
        place-self: end center;
        padding: 0.69vw 1.66vh;
    }
}

/*
small devices landscape
*/
@media screen and (max-width:1000px) and (orientation:landscape) {
    .wrapperClass:nth-child(3) {
        /* display: none */
    }

    /* .linkButton {
        grid-column: 5/7;

        margin-top: 200px;
        place-self: end left;
    } */
}

@media screen and (max-height:750px) and (orientation:portrait) {
    /* .wrapperClass:nth-child(2){
    display: none
}
.linkButton{
    place-self: end left;

} */

    /* .wrapper_helper{
    grid-column: 2/-1;
    height: 100%;
display: grid;
    grid-template-columns: repeat(7,9.03vw);
    gap: 0px 2.78vw ;

    grid-template-rows: 22.22vh 2.22vh 22.22vh auto;

} */

}
