img{
    width: 100%;
}

*{
    box-sizing: border-box;
}

.main{
    padding-bottom: 150px;
    padding-top: 165px;
    background-color: #fff;
}

.bulletListIntro{
    padding-bottom: 30px;
}

.contentWrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 60px 0px;
}

.linkAllArticles{
    text-decoration: none;
    color: black;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
}
.containerLinkArticles{
    max-width: 980px;
    margin: 0 auto; 
}
.arrowBack{
    position: absolute;
    width: 40px;
    top: 50%;
    left: -55px;
}/* */
.articleDate{
    margin: 60px auto 20px auto;
    font-size: 16px;
    display: block;
    max-width: 980px;
    color: rgba(0, 0, 0, 0.6);
}

.linkAllArticles{
    max-width: 980px;
}
.title{
    font-size: 90px;
    line-height: 90px;
    margin: 0 auto;
    max-width: 980px;
    font-family: 'Bebas Neue';
    font-weight: 700;
}
.subTitle{
    font-size: 26px;
    line-height: 30px;
    margin: 20px auto 60px auto;
    max-width: 980px;
}
.borderTitle{
    height: 2px;
    width: 100%;
    background-color: #000;
}



.text{
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    font-size: 18px;
line-height: 26px;
    white-space: pre-line;
    /* text-align:justify;
    text-justify: distribute; */
    /* text-align: left; */
}


.bulletListHeading{
    
    /* margin: 30px auto 30px auto; */
    max-width: 980px;
    font-size: 16px;
    white-space: pre-line;
    font-weight: 700;

}
.bulletListHeading + .bulletListHeading{
   margin-top: 30px; 
}
.titleWrapper{
    /* margin-bottom: 60px; */
}
.bulletList{
    margin:  0 auto;
}
.bulletList ul{
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}
.bulletList p{
    margin: 0;
}
.bold{
    font-weight: 700;
}

.bigImage{
    width: 100%;
    max-width: 100vw;
}

.titleCenter{
    font-size: 45px;
    line-height: 44px;
    margin: 0 auto;
    font-family: 'Bebas Neue';
    max-width: 980px;
    font-weight: 400;
    padding-left: 130px;
}

.heading{  
     font-size: 45px;
    line-height: 44px;
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    font-family: 'Bebas Neue';
}


.normalImage{
    margin: 0 auto;
    max-width: 980px;
}
.description{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}



.sliderWrapper{
    /* justify-self: center; */
    height: 500px;
    max-width: 980px;
    /* width: 100%; */
    /* margin: 0 auto; */
    position: relative;
    overflow: hidden;
}
.backgroundImage{
    position: absolute;
    width: 980px;
    height: 100%;
    background-position: center;
}
.containerSlider{

    margin: 0 auto;
    max-width: 980px;
      width: 100%;
    font-size: 16px;
    line-height: 22px;
}
.controlSlider{
    margin-top: 30px;
    display: flex; 
    justify-content: space-between;
}
.buttonArrow{
    cursor: pointer;
    display: flex;
}
.sliderArrows{
    display: flex;
}
.buttonArrow:nth-last-child(1){
    margin-left: 40px;
}

@media (min-width: 769px) and (max-width: 1023px){
            .contentWrapper{
    gap: 60px 0px;
}
    .linkAllArticles{
        max-width: 600px;
    }
    .articleDate{
        max-width: 600px;
    }
    .containerLinkArticles{
        max-width: 600px;
    }
    .title{
        max-width: 600px;
    }
    .subTitle{
        max-width: 600px;
    }
    .text{
        padding: 0 25px;
        font-size: 16px;
    }
    .titleCenter{
        font-size: 35px;
        line-height: 35px;
        max-width: 600px;
        padding-left: 0px;
    }
    .heading{
            padding: 0 25px;
                font-size: 35px;
        line-height: 35px;
    }
    .normalImage{
        max-width: 600px;
    }

    .sliderWrapper{
        display: flex;
        justify-content: center;
    }
    .containerSlider{
        max-width: 600px;
    }
}

@media (min-width: 320px) and (max-width: 769px){

        .contentWrapper{
    gap: 30px 0px;
}
    .linkAllArticles{
        max-width: 478px;
    }
    .arrowBack{
        top: 8px;
    }

    .main{
        padding-bottom: 120px;
        padding-top: 135px;
    }
    .linkAllArticle{
        margin-left:144px;
    }
    .description{
        margin-top: 10px;
    }
    .articleDate{
        max-width: 478px;
    }
    .containerLinkArticles{
        max-width: 478px;
    }
    .title{
        line-height: 65px;
        max-width: 478px;
        font-size: 65px;
    }
    .subTitle{
        max-width: 478px;
        font-size: 22px;
        margin-top: 30px;
    }
    .text{
        padding: 0 16px;
        font-size: 16px;
        line-height: 24px;

    }
    .titleCenter{
        font-size: 35px;
        line-height: 35px;
        max-width: 478px;
        padding-left: 0px;
    }
        .heading{
                padding: 0 16px;
        font-size: 35px;
        line-height: 35px;
    }

    .normalImage{
        max-width: 478px;
    }
    .linkAllArticles{
        max-width: 478px;
    }
    .sliderWrapper{
        display: flex;
        justify-content: center;
    }
    .titleWrapper{
        /* margin-bottom: 30px; */
    }
    .containerSlider{
        max-width: 478px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .sliderWrapper{
        height: 300px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .buttonArrow{
        width: 90px;
    }
    .controlSlider{
        margin-top: 10px;
        display: flex; 
        justify-content: space-between;
    }
}

@media (min-width: 375px) and (max-width:600px){
    .articleDate,
    .title,
    .subTitle,
    .titleCenter,
    .normalImage,
    .containerSlider,
    .linkAllArticles{
        max-width: 343px;
    }
    .containerLinkArticles{
        max-width: 343px;
    }
    .main{
        padding-top: 125px;
    }
    .title{
        font-size: 30px;
    }
    .subTitle,
    .titleCenter,.heading
    {
        font-size: 24px;
    }
    .text{
        font-size: 14px;
    }
    .borderTitle{
        /* margin-bottom: 30px; */
    }
    .titleCenter{
        margin: 30px auto;
    }
    .sliderWrapper{
        height: 200px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width:460px){
    .main{
        padding-top: 105px;
        background-color: #fff;
    }
    .linkAllArticles{
        font-size: 12px;
    }
    .buttonArrow:nth-last-child(1){
        margin-left: 10px;
    }
    .linkAllArticles{
        position: relative;
        margin-left: 96px;
    }
    .arrowBack{
        position: absolute;
        width: 78px;
        top: 5px;
        left: -85px;
    }
    .linkAllArticle{
        margin-left:104px;
    }
    .subTitle{
        margin-top: 20px;
    }
    .articleDate{
        margin: 41px auto 30px auto;
        font-size: 16px;
        display: block;
        color: rgba(0, 0, 0, 0.6);
    }
    .controlSlider{
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (max-width: 376px){

    .titleWrapper{
        /* margin-bottom: 30px; */
    }
    .articleDate{
        font-size: 12px;
        margin: 30px auto 30px 16px;
    }
    .bulletListHeading{
        font-size: 16px;
        line-height: 20px;
    }
    .title{
        font-size: 30px;
        line-height: 30px;
        margin: 0 16px 30px;
    }
    .subTitle{
        font-size: 24px;
        line-height: 26px;
        margin: 0 16px 32px;
    }
    .text{
        font-size: 16px;
        line-height: 20px;
        /* margin: 0 16px; */
    }
    .normalImage{
        margin: 16px;
    }
    .description{
        margin-top: 10px;
    }
    .containerSlider{
        padding: 0 16px;
        margin: 0;
    }
    .buttonArrow{
        width: 78px;
    }
    .sliderWrapper{
        height: 200px;
    }
    .titleCenter{
        padding-left: 0;
        font-size: 24px;
        line-height: 24px;
        max-width: 255px;
    }
    .heading{
                font-size: 24px;
        line-height: 24px;
    }
    .controlSlider{
        margin-top: 10px;
    }
}

