.title {
    font-family: Bebas Neue;
    line-height: normal;
    font-weight: bold;
    font-size: 8vmin;
    color: #FFFFFF;
    white-space: pre-line;
}

img {
    width: 100%;
}

.blockTitle {
    font-family: Bebas Neue;
    font-weight: bold;
    font-size: 6.4vmin;
    line-height: normal;
    color: #2E3237;

}

.paragraph {
    font-size: 4.266vmin;
    color: #FFFFFF;
    line-height: normal;
    white-space: pre-line;

}

.card2,
.card3 {
    background-color: #fff;

    .paragraph {
        color: #2E3237;
    }
}

.card1 {
    padding-top: 86px;
    padding-bottom: 30px;

    overflow: hidden;

    .title {
        display: flow-root;
        padding: 30px 16px 20px;
    }

    .paragraph {
        padding: 0px 16px;
    }
}

.card2 {
    overflow: hidden;

    padding: 50px 16px 60px;

    .blockTitle {
        padding: 30px 0px 10px;
    }
}

.card3 {
    overflow: hidden;

    padding: 0px 16px 30px;

    .blockTitle {
        padding: 30px 0px 10px;
    }

    .paragraph {
        padding-bottom: 25px;
    }
}

.buttonContainer {
    margin-top: -1px;
    padding-left: 16px;
    background-color: #FFFFFF;
    height: 30px;
}


@media screen and (min-width: 555px) {

    .title {
        font-size: 8.463vmin;
    }

    .blockTitle {
        font-size: 5.208vmin;
    }

    .paragraph {
        font-size: 2.864vmin;
    }

    .card1 {
        padding-top: 105px;
        padding-bottom: 61px;

        .title {
            padding: 50px 16px 20px;
        }

    }

    .card2,
    .card3 {
        padding: 0;

        .imageWrapperLeft {
            height: 45.572vmin;
            display: flex;
            flex-flow: row nowrap;
            gap: 40px;
            width: 100%;

            img {
                height: 45vmin;
            }
        }
    }

    .card2 {
        padding: 120px 0px;

        // padding-bottom: 120px;
        .blockTitle {
            padding: 60px 16px 20px;
        }

        .paragraph {
            padding: 0px 16px;
        }
    }

    .card3 {
        // padding-bottom: 40px;

        .blockTitle {
            padding: 60px 0px 20px;
        }

        .paragraph {
            padding: 0px 0px 40px 0px;
        }

        .content {
            padding: 0px 16px 0px 16px;

        }
    }

    .buttonContainer {
        padding-left: 16px;
        height: 153px;
    }
}

@media screen and (min-width: 769px) {
    .paragraph {
        font-size: 1.666vmax;
    }

    .blockTitle {
        font-size: 4.166vmax;
        color: #000000;
        padding: 0;
    }

    .card1,
    .card2,
    .card3 {
        display: grid;
        grid-template-columns: repeat(8, 9.027vw) 2.777vw;
        column-gap: 2.777vw;
    }

    .card1 {
        overflow: hidden;
        position: relative;
        padding: 0;
        width: 100%;
        // min-height: 100vh;
        justify-content: flex-end;


        grid-template-rows: 22.777vh 1fr;

        .titleImage {
            // display: block;
            // margin-left: 51.319vmax;
            //  width: 48.68vmax;
            min-height: fit-content;
            object-fit: cover;
            // order: 2;
            grid-column: 5 / -1;
            grid-row: 1 / 2;
        }

        .content {

            grid-column: 1 / -1;
            grid-row: 2;

            // width: 56.1805vmax;
            // position: absolute;
            // top: 14.236vmax;
            // left: 4.236vmax;
            // padding-top: 22.777vmin;
            // padding-left: 4.236vmax;
            order: 1;

            .title {
                padding: 0;
                z-index: 300;

                font-size: 6.25vmax;
            }

            .paragraph {
                width: 55.694vw;
                padding: 30px 0px;
            }
        }

    }

    .card2 {

        padding: 0;
        padding-left: 4.167vw;
        grid-template-rows: 10.417vw 7.708vw 7.222vw auto 5.208vw;

        .imageWrapperLeft,
        .imageWrapperRight {
            position: relative;
            height: 66.67vh;

            display: flex;
            flex-direction: column;

            .parallax_gap {
                height: 50px;
            }


            img {
                width: 100%;
                height: fit-content;
                object-fit: cover;
                height: initial;
                align-self: flex-start;
            }
        }

        .blockTitle,
        .paragraph {
            padding: 0;
        }

        .paragraph {
            width: 35.416vw;

        }

        .imageWrapperLeft {
            grid-column: 1 / 3;
            grid-row: 3/ -1;
        }

        .content {
            grid-column: 5 / 9;
            grid-row: 2 / -2;
        }

        .imageWrapperRight {
            grid-column: 3 /5;
            grid-row: 2/ -1;
        }
    }

    .card3 {
        margin-top: -2px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(8, 9.027vw);
        grid-template-rows: 10.417vw 1.875vw 9.375vw auto 13.194vw;
        gap: 0vw 2.777vw;

        .imageWrapperLeft,
        .imageWrapperRight {
            display: flex;
            flex-direction: column;

            .parallax_gap {
                height: 50px;
            }

            img {
                width: 100%;
                object-fit: cover;
                height: initial;
            }
        }

        .imageWrapperLeft {
            grid-column: 5 /span 2;
            grid-row: 2 / -2;
        }

        .imageWrapperRight {
            grid-column: 7 /span 2;
            grid-row: 4 / -2;

        }

        .blockTitle,
        .paragraph {
            padding: 0;
            white-space: pre-line;
        }

        .imageWrapperRight {}

        .content {
            padding: 0;
            grid-column: 2 / span 4;
            grid-row: 3 / -2;

            .paragraph {

                width: 32.569vw;
                padding-bottom: 30px;
            }
        }


    }

    .buttonContainer {
        height: 0;
    }
}

@media screen and (min-width: 1450px) {
    .card1 {
        min-height: 900px;
    }
}