.main_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pagination_wrapper{
    width: 25px;
    height: 60.55555555%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left:60px;
    top:205px;
    z-index: 100;
}
.content_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.round{
    width: 25px;
    height: 25px;
    border: 1px solid #C08718;
    border-radius: 30px;
    cursor: pointer;

}
.round_active{
    width: 25px;
    height: 25px;
    background: #C08718;
    border-radius: 30px;
    cursor: pointer;

}
.round_past_active{
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;

}
.module_wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 1;
}
.module_wrapper_active{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 10;
}
@media (max-width: 812px) {
    .pagination_wrapper{

        height: 405px;
        left:initial;
        top:488px;
        right: 16px;
        z-index: 100;
    }
}

@media (max-width: 500px) and (orientation:portrait) {
    .pagination_wrapper{

        height: 38.7931%;
        width: 15px;
        left:initial;
        top:35.2216%;
        right: 16px;
        z-index: 100;
    }
    .round{
        width: 15px;
        height: 15px;
        border: 1px solid #C08718;
        border-radius: 30px;
    }
    .round_active{
        width: 15px;
        height: 15px;
        background: #C08718;
        border-radius: 30px;
    }
    .round_past_active{
        width: 15px;
        height: 15px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 30px;
    }
}

@media (max-height: 500px) and (orientation:landscape) {
    .pagination_wrapper{
        width: 15px;
        height: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left:initial;
        right: 15px;
        top:40%;
        z-index: 100;
    }
    .content_wrapper{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .round{
        width: 15px;
        height: 15px;
        border: 1px solid #C08718;
        border-radius: 30px;
    }
    .round_active{
        width: 15px;
        height: 15px;
        background: #C08718;
        border-radius: 30px;
    }
    .round_past_active{
        width: 15px;
        height: 15px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 30px;
    }
    .module_wrapper{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
        opacity: 0;
        z-index: 1;
    }
    .module_wrapper_active{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
        opacity: 1;
        z-index: 10;
    }
}
