body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Html{
  width:100%;
  height: 100%;
  background: #2E3237;
}
body{
  width: 100%;
  height: 100%;
  background: #2E3237;
}

#root{
  width: 100%;
  height: 100%;
  background: #2E3237;
}

@font-face{

  font-family: 'Bebas Neue';

  src: url('./fonts/BebasNeueRegular.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}


.pulsation{
    r:20px;
}
#svg_digital_puls,.svg_mobile_puls{

  animation: 8s cubic-bezier(0.19, 0.71, 0.32, 0.93) infinite pulsation ;
}
#svg_energy_puls{

  animation: 8s cubic-bezier(0.19, 0.71, 0.32, 0.93) infinite pulsation ;
  animation-delay: 2s;
}
#svg_food_puls{

  animation: 8s cubic-bezier(0.19, 0.71, 0.32, 0.93) infinite pulsation ;
  animation-delay: 4s;
}

 
/* #svg_services_puls{

  animation: 8s cubic-bezier(0.19, 0.71, 0.32, 0.93) infinite pulsation ;
  animation-delay: 6s;
} */
#svg_digital_puls_wrapper, #svg_energy_puls_wrapper, #svg_food_puls_wrapper{
  cursor: pointer;
}


@keyframes pulsation {
  0%
  {
    opacity:1;
    r:25px;

  }
  25%,100%
  {
  opacity:0;
  r:55px;

  }
  }


.activ_point{
  fill: #2E3237;
  r:35px;

}

.pulsation.pulsation_hide{
  display: none;
}
.point_text.active_text{
  transform: translateX(10px);
}
.clickForShowProject:hover{
  fill: #C1E8F0;
  box-shadow: 0px 2px 10px rgba(193, 232, 240, 0.5);
  cursor: pointer;
}
.activ_point:hover{
  fill: #2E3237;
  cursor: default;
}

@media (max-width: 1258px){
  .svg_movable{
      transform: translateX(215px);
  }
}

@media (max-width: 1024px){
  .svg_movable{
    transform: translate(51px, -170px);
  }
  .svg_movable_energy{
    transform: translate(-487px, -297px);
  }
  .svg_movable_food{
    transform: translate(-15px, -287px);
  }
  .svg_movable_services{
    transform: translate(-287px, -344px);
  }
}
@media (max-width: 768px){
  .svgServicesTablet{
    transform: translate(25px, -204px);
  }
}
@media (max-width: 425px){
  .svgMobileMovable{
    transform: translate(7px, -61px);
  }
  .svgServicesMovable{
    transform: translate(6px, -93px);
  }
  .svgDigitalMovable{
    transform: translate(4px, -15px);
  }
}

