.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
}
.content_wrapper{
    width: 100vw;
    margin-top: 198px;
    display: flex;
}
.text_wrapper{
    margin-left: 230px;
}
.header{
    width: 470px;
    height: 60px;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
}
.body{
    width: 469px;
    height: 104px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 10px;
}
.form_wrapper{
    margin-left: auto;
    margin-right: 61px;
    width: 469px;
    margin-bottom: 34px;
}
.img_wrapper{
    width: 100%;
    max-height: 80%;
    flex-grow: 1;
}
.img_wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.formSended{
    width: 443px;
    height: 45px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 7px auto 39px auto;
}
@media (max-width: 1264px) and (orientation:landscape) {

}

@media (max-width: 768px) {
    .content_wrapper{
        flex-direction: column;
        margin-top: 149px;
    }
    .text_wrapper{
        margin-left: 16px;
    }
    .form_wrapper{
        margin-left: 16px;
        margin-top: 50px;
    }
    .formSended{
        width: 478px;
        height: 40px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        color: #FFFFFF;
        margin: 0px auto 65px 16px;
    }
}
@media (max-width: 530px) and (orientation:portrait) {
    .content_wrapper{
        flex-direction: column;
        margin-top: max(90px,calc(106px * var(--inhm)));
    }
    .text_wrapper{
        margin-left: 16px;
    }
    .form_wrapper{
        margin-left: 16px;
        margin-top: max(10px,2.46vh);
        width: 320px;
    }
    .header{
        width: 343px;
        height: 36px;

        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        /* identical to box height, or 100% */


        color: #FFFFFF;
    }
    .body{
        width: 343px;
        height: auto;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: min(16px,calc(16px * var(--inh)));
        line-height: min(20px,calc(20px * var(--inh)));
        /* or 125% */


        color: #FFFFFF;
        margin-top: 10px;
    }
    .img_wrapper{
        display: none;
    }
    .formSended{
        width: 343px;
        height: 30px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        text-align: center;

        color: #FFFFFF;
        margin: 0px auto 60px auto;
    }
    .img_wrapper_show{
        display: block;
    }
}
@media (max-height: 500px) and (orientation:landscape) {

}

@media (min-width:769px ) and (max-width:1024px){

        .content_wrapper{
            flex-direction: column;
            }
        .form_wrapper{
            padding-top: 50px;
            margin-left: 230px;
        }

}

@media (min-width: 1264px) {
    .form_wrapper{
        margin-left: 211px;

    }
}

@media (max-width:370px){
   .body{
       /* background: red; */
       width: 100%;
       padding-right: 40px;
       margin: 0;
   }
   .form_wrapper{
       margin-left: 0;
       margin-right: 0;
       width: 100%;
       padding-left: 16px;
       padding-right: 55px;
   }
}
